* {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom right, #f8f5f5, #00f8f5);
}
.app {
  display: flex;
}
.sidebar {
  width: 250px;
  background-image: linear-gradient(to bottom right, #121010, #237776);
  color: ghostwhite;
  position: fixed;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.main {
  width: -webkit-fill-available;
  padding: 26px;
  height: -webkit-fill-available;
  margin-left: 252px;
}
.filter {
  padding: 30px;
  font-size: 23px;
}
.drop {
  height: 30px;
  background-color: #eeeeee;
  border-radius: 6px;
  width: 155px;
  margin-top: 12px;
}
.dropb {
  height: 23px;
  background-color: #eeeeee;
  border-radius: 6px;
}
.mainh {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  padding: 20px;
  height: 40px;
}
.added {
  display: flex;
}
.cart {
  width: 37px;
  height: 37px;
}
.value {
  width: 20px;
  height: 23px;
  background-color: red;
  border-radius: 12px;
  color: white;
  text-align: center;
  margin-left: 3px;
}
.mainb {
  padding: 20px;
  background-color: white;
}
.pimg {
  width: 370px;
  height: -webkit-fill-available;
  border-radius: 17px;
}
.pimgs {
  width: 14px;
  height: 14px;
}
.container {
  display: flex;
  height: 260px;
  margin: 20px;
  box-shadow: 0px 0px 2px -1px;
  border-radius: 17px;
}
.divimg {
  padding: 10px;
  background-color: #e1e1e1;
  border-radius: 17px;
}
.content {
  padding: 10px;
  width: -webkit-fill-available;
}
.ptitle {
  font-size: 22px;
  font-weight: 500;
}
.pdescription {
  font-size: 19px;
  font-weight: 400;
}
.prating {
  font-size: 14px;
}
.sign {
  font-size: 14px;
  margin-top: 4px;
  position: absolute;
}
.discountp {
  margin-left: 10px;
  font-size: 27px;
  font-weight: 500;
}
.price {
  font-size: 14px;
  font-weight: 500;
  color: #625e5e;
}
.textc {
  text-decoration: line-through;
}
.discount {
  font-size: 14px;
}
.stock {
  font-size: 14px;
  display: block;
  font-weight: 600;
  color: #12b812;
}
.stocke {
  font-size: 12px;
  color: red;
  font-weight: 600;
}
.pcont {
  padding-bottom: 8px;
}
.pconta {
  padding-bottom: 14px;
}
.plus {
  width: 26px;
  height: 26px;
  filter: invert(1);
}
.minus {
  width: 25px;
  height: 25px;
}
.additem {
  display: flex;
  align-items: center;
  width: 150px;
  justify-content: space-around;
  background-color: #ffaf2e;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  cursor: pointer;
}
.carttext {
  font-size: 16px;
  font-weight: 600;
  color: white;
}
